.headings {
    margin: 84px 0;
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 48px;
    }
    p {
        font-size: 20px;
        color: #373737;
    }
    p, h2 { align-items: center}
}

.loginContainer {
    margin: 0 auto;
    max-width: 465px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    input[type="email"], input[type="password"], input[type="button"]  {
        height: 56px;
        font-size: 16px;
        font-weight: 600;
        padding: 0 16px;
        border: none;
        display: flex;
        border-radius: 8px;
    }
    input[type="email"], input[type="password"]  {
        color: #373737;
        background-color: white;
    }
    input[type="button"] {
        background: linear-gradient(#555555, #333333);
        color: white;
        text-transform: uppercase;
    }
    label {
        font-size: 14px;
        font-weight: 300;
        display: flex;
        gap: 10px;
    }
    input[type="checkbox"] {
        border-radius: 6px;
        height: 16px;
        width: 16px;
    }
}