.userCard {
    position: relative;
    background: linear-gradient(rgba(55, 55, 55, 0.76) 0%, #373737 50%);
    padding: 32px;
    border-radius: 8px;
    color: white;

    .name {
        display: flex;
        justify-content: space-between;
        b {
            font-size: 24px;
            font-weight: 500;
        }
        span {
            display: flex;
            height: 28px;
            align-items: center;
            border-radius: 14px;
            background-color: #fffeb4;
            color: #323232;
            font-size: 14px;
            padding: 0 12px;
            margin-right: -6px;
            font-weight: 500;
        }
    }

    .infos {
        padding: 24px 0;
        align-items: center;
        display: flex;
        gap: 12px;

        li {
            font-weight: 300;
            &:first-child {
                font-weight: 600;
            }
            margin: 4px;
            font-size: 18px;
            list-style: none;
        }
    }

    .avatar-placeholder {
        width: 40px;
        height: 40px;
        background-color: #151515;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        font-weight: bold;
    }

    .card-actions {
        position: absolute;
        bottom: 12px;
        right: 12px;
        display: flex;
        gap: 8px;
    }

    .edit,
    .remove {
        border: none;
        border-radius: 6px;
        font-size: 12px;
        cursor: pointer;
        color: white;
    }

    .edit {
        background-color: rgba(211, 47, 47, 0);
    }

    .edit:hover {
        background-color: rgba(211, 47, 47, 0);
    }

    .remove {
        background-color: rgba(211, 47, 47, 0);
    }

    .remove:hover {
        background-color: rgba(211, 47, 47, 0);
    }
}
.actions {
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.edit,
.remove {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.edit:hover svg path,
.remove:hover svg path {
    fill: #ffffff;
}
