.header {
    margin: 24px;
    & > div {
        display: flex;
        background: linear-gradient(#585858, #323232);
        margin: 0 auto;
        color: #f8f8f8;
        padding: 0 24px;
        max-width: 1200px;
        height: 96px;
        border-radius: 48px;
        align-items: center;
    }
    h1 {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 600;
    }
}