.logout {
    color: #151515;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 14px;
    border-radius: 24px;
    background-color: white;
    border: none;
}
.header h1 {
    margin: 0 24px 0 0;
}
.header > div {
    justify-content: space-between !important;
}