.header {
    padding: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    h2 {
        font-weight: 600;
        font-size: 48px;
    }
    p {
        color: #373737;
        font-size: 20px;
    }
}
.userList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 45px 0 0 0;
    gap: 48px;
}
.panel {
    margin: 24px 0;
    button {
        display: flex;
        font-size: 14px;
        height: 32px;
        border: none;
        padding: 0 12px;
        align-items: center;
        border-radius: 8px;
        background-color: #373737;
        color: #F3F3F3;
    }
    span {
        font-size: 11px;
        text-transform: uppercase;
        color: #373737;
    }
}
.filters {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}
.filtersByRole {
    display: flex;
    gap: 8px;

}